.DS_Store
BuildingListsAndNavigation/.DS_Store
BuildingListsAndNavigation/Complete/.DS_Store
BuildingListsAndNavigation/Complete/Landmarks/.DS_Store
BuildingListsAndNavigation/Resources/.DS_Store
BuildingListsAndNavigation/StartingPoint/.DS_Store
BuildingListsAndNavigation/StartingPoint/Landmarks/.DS_Store
Landmarks/.DS_Store
Landmarks/Landmarks/.DS_Store
Landmarks/Landmarks/Assets.xcassets/.DS_Store
Landmarks/Landmarks/Preview Content/.DS_Store
Landmarks/Landmarks/Views/.DS_Store
Landmarks/Landmarks/Preview Content/.DS_Store